html, body {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  font-family: sans-serif;
  background-color: #faf8ef;
  color: #776e65; }

.universe {
  min-height: 100vh; }

.container {
  max-width: 500px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px; }

.header__title-container {
  flex-grow: 2; }

.header__score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 10px;
  background-color: #bbada0;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 3px; }

.header__title,
.header__author,
.score_label,
.score_value {
  margin: 0;
  line-height: 1em; }

.author__lnk {
  font-weight: 600;
  text-decoration: underline;
  color: #776e65; }

.score_label,
.score_value {
  font-weight: 600;
  text-align: center; }

.score_label {
  font-size: 16px;
  color: #eee4da; }

.score_value {
  padding-top: 6px;
  font-size: 32px;
  color: #fff; }

@media (min-width: 500px) {
  .header__title {
    font-size: 80px; } }

@media (min-width: 400px) and (max-width: 499px) {
  .header__title {
    font-size: 72px; } }

@media (max-width: 399px) {
  .header__title {
    font-size: 64px; } }

.grid {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 7px;
  margin-top: 40px;
  background-color: #bbada0;
  box-sizing: border-box;
  border-radius: 6px; }

.grid.has-won .grid__state,
.grid.has-lost .grid__state {
  display: block; }

.grid.has-won .state__win {
  display: block; }

.grid.has-lost .state__lost {
  display: block; }

.grid__state {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8); }

.state__win,
.state__lost {
  display: none;
  text-align: center;
  margin: 40px 10px;
  font-size: 40px;
  font-weight: 600; }

.slot {
  display: inline-block;
  position: relative;
  padding: 7px;
  box-sizing: border-box; }

.slot:before {
  content: '';
  display: block;
  padding-bottom: 100%;
  background-color: rgba(238, 228, 218, 0.35); }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.tile {
  position: absolute;
  opacity: .001;
  top: 7px;
  bottom: 7px;
  left: 7px;
  right: 7px;
  color: #776e65;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  transition-property: transform;
  transition-timing-function: ease-in;
  animation-timing-function: ease-in; }

.tile:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.tile.is-visible {
  opacity: 1;
  background-color: #776e65; }

.tile.pulse {
  animation-name: pulse; }

/**
 * Tile Styling 
 */
.tile[data-value="2"] {
  color: #776e65;
  background-color: #eee4da; }

.tile[data-value="4"] {
  color: #776e65;
  background-color: #eee4da; }

.tile[data-value="8"] {
  color: #f9f6f2;
  background-color: #f2b179; }

.tile[data-value="16"] {
  color: #f9f6f2;
  background-color: #f3a570; }

.tile[data-value="32"] {
  color: #f9f6f2;
  background-color: #f48e5f; }

.tile[data-value="64"] {
  color: #f9f6f2;
  background-color: #f65e3b; }

.tile[data-value="128"] {
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.03125), inset 0 0 0 1px rgba(255, 255, 255, 0.0208333);
  color: #f9f6f2;
  background-color: #edcf72; }

.tile[data-value="256"] {
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.0625), inset 0 0 0 1px rgba(255, 255, 255, 0.0416667);
  color: #f9f6f2;
  background-color: #edce6e; }

.tile[data-value="512"] {
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.0833333);
  color: #f9f6f2;
  background-color: #edcc64; }

.tile[data-value="1024"] {
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.166667);
  color: #f9f6f2;
  background-color: #edc953; }

.tile[data-value="2048"] {
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.333333);
  color: #f9f6f2;
  background-color: #edc22e; }

@media (min-width: 500px) {
  .tile {
    font-size: 38px; } }

@media (min-width: 400px) and (max-width: 499px) {
  .tile {
    font-size: 26px; } }

@media (max-width: 399px) {
  .tile {
    font-size: 18px; } }

.game__goal-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 10px; }

.rules__description {
  margin: 0; }

.btn__new-game {
  flex-shrink: 0;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: 600;
  background-color: #8f7a66;
  color: #faf8ef;
  user-select: none; }

.btn__new-game:hover {
  cursor: pointer; }

.game__rules-container {
  margin-top: 50px; }

.game__rules {
  line-height: 1.65em;
  margin: 0; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMuY3NzIiwic291cmNlUm9vdCI6IiJ9*/